body{
    background-color: rgb(214, 181, 214);
    text-align: center;
}

.title_uno{
    background-color: #000;
    color: #ff0;
    text-align: left;
    text-decoration: underline;
}

.title_dos{
    background-color: #fec;
}

.title_tres{
    background-color: #f50;
    text-align: right;
    color: #00b;
}

.titles{
    color: #fff;
    background-color:#088A85;
}